<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../_public/css/style.css">
</head>
<body>
    <header>
        <img id="logo" src="../_public/images/logo.png" alt="logo Victor Romero Software engineer">
        <nav>
            <ul>
                <li><a href="#aboutme">About me</a></li>
                <li><a href="contact.html">Contact me</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <aside>
            <img src="../_public/images/Victor.png" alt="Victor Romero">
        </aside>
        <div class="right">
            <div class="top">
                <h1>Hello I'm <br />Victor Romero</h1>
                I'm a system analyst with a bachelor's degree in Brazil.
            </div>
            <div class="middle">
                <a href="https://www.linkedin.com/in/victor-silvestrin-romero" target="_blank"><img src="../_public/images/linkedin.svg" alt="Logo linkedin" /></a>
                <a href="https://github.com/vsrromero" target="_blank"><img src="../_public/images/github.svg" alt="Logo github" /></a>
            </div>
            <section class="bottom">
                <h2>SKILLS</h2>
                <div class="bottom__skills">
                    <img src="../_public/images/html5-original.svg" alt="logo html5">
                    <img src="../_public/images/css3-original.svg" alt="logo css3">
                    <img src="../_public/images/javascript-original.svg" alt="logo javascript">
                    <img src="../_public/images/php-plain.svg" alt="logo php">
                    <img src="../_public/images/laravel-plain.svg" alt="logo laravel">
                    <img src="../_public/images/github-original.svg" alt="logo github">
                </div>
            </section>
        </div>
    </main>
    <footer>
        ©Victor Romero
    </footer>
</body>
</html>